<html lang="en">
<head>
   
</head>
 
<div class="d-flex">
    <img alt="ola Adventures" width="125" height="33" src="../../assets/ola.png">
<div class="dropdown mr-1">
    <button type="button" class="btn btn-dark dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
      OLA
   </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
      <a class="dropdown-item" routerLink="/yachts">Boats</a>
      <a class="dropdown-item" routerLink="/napo">Jungle</a>
      <a class="dropdown-item" routerLink="/dashbord">Contact</a>
    </div>
</div> <!-- close first button-->
    
         <div class="dropdown mr-1">
    <button type="button" class="btn btn-dark dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
      Galapagos
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
      <a class="dropdown-item" routerLink="/yachts">Last min</a>
      <a class="dropdown-item" routerLink="/dashboard">Price</a>
      <a class="dropdown-item" routerLink="/dashboard">Classes</a>
    </div>
  </div>
        
  <div class="btn-group">
    <button type="button" class="btn btn-dark">Info</button>
    <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
      <a class="dropdown-item" routerLink="/dashboard">Blogs</a>
      <a class="dropdown-item" routerLink="/napo">Jungle</a>
      <a class="dropdown-item" routerLink="/yachts">Booking</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" routerLink="#">Last Min</a>
    </div>
  </div>
</div>  
    
  <body>
      <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">OLA Best prices for Galapagos</h1>
    
  </div>
</div>
    
<div>
    <div  class="container">
        <h5>{{description}}</h5>
    <div class="row">
        <div class="col-sm">
            <div class="cc centered">Amazon best</div>
            <a routerLink="/dashboard">
            <img alt="Galapgaos" width="400" height="200" src="../assets/alberto.png"> 
            </a> 
            
         </div><!--close first col-->
        <div class="col-sm">
            <div class="cc row">
                <div class="centered">Galap best</div>
                <a routerLink="/yachts">
                <img alt="Galapgaos" width="250" height="100" src="../assets/elaicheesecake.png">
                </a>
              </div>
            <div class="cc row">
                <div class="centered">Napo best</div>
                <a routerLink="/napo">
                <img alt="napo" width="250" height="100" src="../assets/vadonut.png">
                </a>
              </div>
           </div><!--close 2ns col-->
        <div class="col-sm">
             <div class="cc row">
                <div class="centered">Galap best</div>
                <a routerLink="/yachts">
                <img alt="Galapgaos" width="250" height="100" src="../assets/elaicheesecake.png">
                </a>
              </div>
            <div class="cc row">
                <div class="centered">Napo best</div>
                <a routerLink="/napo">
                <img alt="napo" width="250" height="100" src="../assets/vadonut.png">
                </a>
              </div>
        </div><!--close 3ns col-->
    </div><!--close of big row-->
      <br>
  <label>name:
    <input [(ngModel)]="name" placeholder="please type your name">
  </label>
<br>
<label>Answer to name : {{name}}</label>
<!--    <h2>{{name | upper case}}</h2>-->
    </div><!--close container-->
</div><!--jubotron-->
 
  </body>
</html>
   

