<html lang="en">
<head>
   
</head>
 <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">OLA</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
    
    <div class="d-flex">
  <div class="dropdown mr-1">
    <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
      Offset
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-secondary">Reference</button>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
</div>  
    
  <body>
      <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">OLA Adventures</h1>
    <p class="lead">We are the best and showing your rund Ecuador and Galapagos.</p>
  </div>
</div>
    
<div>
    <div  class="container">
        <h5>{{description}}</h5>
    <div class="row">
        <div class="col-sm">
            <div class="centered">Amazon best</div>
            <a routerLink="/dashboard">
            <img alt="Galapgaos" width="400" height="200" src="../assets/alberto.png"> 
            </a>
            
         </div><!--close first col-->
        <div class="col-sm">
            <div class="cc row">
                <div class="centered">Galap best</div>
                <a routerLink="/yachts">
                <img alt="Galapgaos" width="250" height="100" src="../assets/elaicheesecake.png">
                </a>
              </div>
            <div class="cc row">
                <div class="centered">Napo best</div>
                <a routerLink="/napo">
                <img alt="napo" width="250" height="100" src="../assets/vadonut.png">
                </a>
              </div>
           </div><!--close 2ns col-->
        <div class="col-sm">
             <div class="cc row">
                <div class="centered">Galap best</div>
                <a routerLink="/yachts">
                <img alt="Galapgaos" width="250" height="100" src="../assets/elaicheesecake.png">
                </a>
              </div>
            <div class="cc row">
                <div class="centered">Napo best</div>
                <a routerLink="/napo">
                <img alt="napo" width="250" height="100" src="../assets/vadonut.png">
                </a>
              </div>
        </div><!--close 3ns col-->
    </div><!--close of big row-->
        <div>
  <label>name:
    <input [(ngModel)]="name" placeholder="name">
  </label>
</div>
<label>Answer to name : {{name}}</label>
<!--    <h2>{{name | upper case}}</h2>-->
      </div>
    </div><!--jubotron-->

    
  </body>
</html>
   

