<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 <h1>{{title}}</h1>
<router-outlet></router-outlet>
<app-messages></app-messages>

 
</div>
<h2>Napo Wildlife Center.</h2>

<div>
<table border="1">
   <thead>
      <tr>
         <th>Promotional video</th>
         <th><a target="_blank" rel="noopener" href="https://youtu.be/8xIWic9ASLw">link</a></th>
         <th>https://youtu.be/w0g-QMWYGsM</th>
          </tr>
   </thead>
   <tbody>
      <tr>
         <td>Umbranded pages</td>
         <td>http://www.ecoecuador.org</td>
         <td>http://www.nccecuador.com/</td>
      </tr>
      <tr>
         <td>Photo gallery HD</td>
         <td>https://bit.ly/2gTPkms</td>
         <td>https://bit.ly/2gTP8mR</td>
      </tr>
      <tr>
         <td>Brochures</td>
         <td>https://bit.ly/2sIfAI2</td>
         <td>https://bit.ly/2C7CKf8</td>
      </tr>
      <tr>
         <td>Essential Fact Sheet</td>
         <td>https://bit.ly/2Ia9EOG</td>
         <td>https://bit.ly/2KBhb7F</td>
      </tr>
      <tr>
         <td>Programs & Itineraries</td>
         <td>https://bit.ly/2HP1ZpP</td>
         <td>https://bit.ly/2HPL2LW</td>
      </tr>
   </tbody>
</table>
   </div> 
